<div id="l-testimonial" class="l-bg-section">
  <div class="container">
    <div class="row animate-box row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left l-heading">
        <span>Feedback</span>
        <h2>Happy Clients</h2>
        <p>Worked on multiple distributed teams as team lead and technical lead, delivering excellent results and good impressions.</p>
      </div>
    </div>
    <div class="row">

      <div *ngFor="let row of feedbackItems; let i = index;" class="col-md-6 animate-box">

        <div *ngFor="let item of row; let ev = even;"
             [class]="(i == 0 && !ev) || (i > 0 && ev) ? 'testimonial' : 'testimonial l-selected'">
          <blockquote>
            <p>&ldquo;{{item.text}} &rdquo;</p>
            <p class="author"> <img [src]="item.imageUrl" alt="person"> <cite>&mdash; {{item.name}}</cite></p>
          </blockquote>
        </div>

      </div>

    </div>
  </div>
</div>
