<div id="l-testimonial" class="l-bg-section">
  <div class="container">
    <div class="row animate-box row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left l-heading">
        <span>Feedback</span>
        <h2>Happy Clients</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 animate-box">
        <div class="testimonial">
          <blockquote>
            <p>&ldquo;Great job. Attention to details. Good communication. Superb skill. &rdquo;</p>
            <p class="author"> <img src="assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
          </blockquote>
        </div>

        <div class="testimonial l-selected">
          <blockquote>
            <p>&ldquo;Successfully accomplished all tasks which was assigned to him under the very strict project schedule. &rdquo;</p>
            <p class="author"><img src="assets/images/person2.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Kostya Marchenko</cite></p>
          </blockquote>
        </div>
      </div>

      <div class="col-md-6 animate-box">
        <div class="testimonial l-selected">
          <blockquote>
            <p>&ldquo;I would highly recommend him to others and am eager to work with him in the future. &rdquo;</p>
            <p class="author"><img src="assets/images/person3.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
          </blockquote>
        </div>

        <div class="testimonial">
          <blockquote>
            <p>&ldquo;He can work on different tasks involving different web technologies and always reach the goals assigned! &rdquo;</p>
            <p class="author"><img src="assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Dmitri Osler</cite></p>
          </blockquote>
        </div>

      </div>



    </div>
  </div>
</div>
