//colors
$color_link_water_approx: #dae6ef;
$black_15: rgba(0, 0, 0, 0.15);

#l-services {
  &.border-bottom {
    border-bottom: 1px solid $color_link_water_approx;
    box-shadow: 0 5px 7px -7px $black_15;
    position: relative;
    z-index: 10;
  }
  .feature-center {
    text-align: center;
    img {
      height: 100px;
      max-width: 280px;
      margin: 0 auto;
    }
    p {
      text-align: justify;
    }
  }
}
