<div id="l-services" class="l-bg-section border-bottom">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
        <div class="l-heading">
          <span>Areas of expertise</span>
          <h2>Skills</h2>
          <p>Always trying to follow best practices and architecture approaches with scalability and future proving concepts, secure code, but balanced with development speed, business needs and best user experience.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of skillsItems" class="col-md-4 col-sm-6 ">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
						<span *ngIf="item.icon" class="icon">
							<i class="{{item.icon}}"></i>
						</span>
            <img *ngIf="item.image" src="/assets/icons/{{item.image}}.svg" />
          <h3>{{item.heading}}</h3>
          <p>{{item.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
