<nav class="l-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 text-left">
        <div id="l-logo"><a href="#" data-nav-to="header">Alexey Romanov<span>.</span></a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <li>
            <a href="#" data-nav-to="header">Home</a>
          </li>
          <li>
            <a href="#" data-nav-to="project">Projects</a>
          </li>
          <li>
            <a href="#" data-nav-to="services">Skills</a>
          </li>
          <li>
            <a href="#" data-nav-to="testimonial">Clients</a>
          </li>
          <li>
            <a href="#" data-nav-to="counter">Facts</a>
          </li>
          <li>
            <a href="#" data-nav-to="started">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header id="l-header" class="l-cover" role="banner" style="background-image:url(assets/images/img_bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <div class="jumbotron">
              <p>
                Over 12 years of commercial software development experience in different
                roles: from FullStack developer to Tech Lead and Architect.
              </p>
              <ul>

                <li>

                  Works mostly on large enterprise level web applications:
                  building custom API architecture, custom and open source modules, external services
                  integration, improving performance etc.

                </li>
                <li>
                  Experienced with various application domains:
                  eCommerce, eLearning, SDK, CRM systems, VoIP, analytical marketing web tools and
                  dashboards.
                </li>
                <li>
                  Has experience with setting up and configuring *nix servers with
                  automated building and deploying tasks.
                </li>
                <li>
                  On spare time likes to play chess, create HTML5 games and contribute to open source.
                  Over 12 years consulting clients all over the world.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
