
.l-nav {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 1001;
  background: transparent;
  transition: 0.5s;
  #l-logo {
    font-size: 23px;
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    a > span {
      color: #F73859;
    }
  }
  a {
    padding: 5px 10px;
    color: #fff;
  }
  ul {
    padding: 0;
    margin: 7px 0 0 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      a {
        font-size: 18px;
        letter-spacing: 0.05em;
        padding: 10px 10px 3px;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.5s;
        &:hover, &:focus, &:active {
          color: white;
          border-bottom: 1px solid red;
          text-decoration: none;
        }
      }
      &.has-dropdown {
        position: relative;
        .dropdown {
          width: 130px;
          box-shadow: 0px 8px 13px -9px rgba(0, 0, 0, 0.75);
          z-index: 1002;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 40px;
          left: 0;
          text-align: left;
          background: #fff;
          padding: 20px;
          border-radius: 4px;
          transition: 0s;
          &:before {
            bottom: 100%;
            left: 40px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #fff;
            border-width: 8px;
            margin-left: -8px;
          }
          li {
            display: block;
            margin-bottom: 7px;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              padding: 2px 0;
              display: block;
              color: #999999;
              line-height: 1.2;
              text-transform: none;
              font-size: 15px;
              &:hover {
                color: #000;
              }
            }
          }
        }
        &:hover a, &:focus a {
          color: #fff;
        }
      }
      &.btn-cta a {
        color: #F73859;
        span {
          background: #f35f55;
          color: #fff;
          padding: 4px 20px;
          display: -moz-inline-stack;
          display: inline-block;
          zoom: 1;
          *display: inline;
          transition: 0.3s;
          border-radius: 4px;
        }
        &:hover span {
          background: #f14034 !important;
          box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
        }
      }
      &.active > a {
        color: #fff;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .l-nav {
    padding: 25px 0;
  }
}

@media screen and (max-width: 768px) {
  .l-nav #l-logo {
    margin-bottom: 0;
  }
}

#page.scrolled .l-nav {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.15);
  #l-logo a {
    color: #000;
  }
  ul li {
    a {
      color: #000;
      &:hover,
      &:focus,
      &:active {
        color: #F73859 !important;
      }
    }
    &.active a {
      color: #F73859 !important;
    }
    &.has-dropdown:hover > a,
    &.has-dropdown:focus > a {
      color: #F73859;
    }
  }
}

#l-header a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  &:hover {
    color: white;
    border-bottom: 1px solid white;
  }
}

.l-cover {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
  .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(42, 51, 86, 0.7);
  }
  > .l-container {
    position: relative;
    z-index: 10;
  }
  .display-t,
  .display-tc {
    z-index: 9;
    height: 900px;
    display: table;
    width: 100%;
  }
  &.l-cover-sm {
    height: 600px;
    .display-t,
    .display-tc {
      height: 600px;
      display: table;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .l-cover {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .l-cover .display-t,
  .l-cover .display-tc {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .l-cover.l-cover-sm {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .l-cover.l-cover-sm .display-t,
  .l-cover.l-cover-sm .display-tc {
    height: 400px;
  }
}
