<nav class="l-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 text-left">
        <div id="l-logo"><a href="#" data-nav-to="header">Alexey Romanov<span>.</span></a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <div class="text-center">
          <a class="btn btn-social-icon btn-adn" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-adn']);"><span class="fa fa-adn"></span></a>
          <a class="btn btn-social-icon btn-bitbucket" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-bitbucket']);"><span class="fa fa-bitbucket"></span></a>
          <a class="btn btn-social-icon btn-dropbox" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-dropbox']);"><span class="fa fa-dropbox"></span></a>
          <a class="btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span class="fa fa-facebook"></span></a>
          <a class="btn btn-social-icon btn-flickr" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-flickr']);"><span class="fa fa-flickr"></span></a>
          <a class="btn btn-social-icon btn-foursquare" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-foursquare']);"><span class="fa fa-foursquare"></span></a>
          <a class="btn btn-social-icon btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);"><span class="fa fa-github"></span></a>
          <a class="btn btn-social-icon btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-google']);"><span class="fa fa-google"></span></a>
          <a class="btn btn-social-icon btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);"><span class="fa fa-instagram"></span></a>
          <a class="btn btn-social-icon btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);"><span class="fa fa-linkedin"></span></a>
          <a class="btn btn-social-icon btn-microsoft" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-microsoft']);"><span class="fa fa-windows"></span></a>
          <a class="btn btn-social-icon btn-odnoklassniki" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-odnoklassniki']);"><span class="fa fa-odnoklassniki"></span></a>
          <a class="btn btn-social-icon btn-openid" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-openid']);"><span class="fa fa-openid"></span></a>
          <a class="btn btn-social-icon btn-pinterest" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-pinterest']);"><span class="fa fa-pinterest"></span></a>
          <a class="btn btn-social-icon btn-reddit" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-reddit']);"><span class="fa fa-reddit"></span></a>
          <a class="btn btn-social-icon btn-soundcloud" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-soundcloud']);"><span class="fa fa-soundcloud"></span></a>
          <a class="btn btn-social-icon btn-tumblr" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-tumblr']);"><span class="fa fa-tumblr"></span></a>
          <a class="btn btn-social-icon btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);"><span class="fa fa-twitter"></span></a>
          <a class="btn btn-social-icon btn-vimeo" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-vimeo']);"><span class="fa fa-vimeo-square"></span></a>
          <a class="btn btn-social-icon btn-vk" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-vk']);"><span class="fa fa-vk"></span></a>
          <a class="btn btn-social-icon btn-yahoo" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-yahoo']);"><span class="fa fa-yahoo"></span></a>
        </div>
        <ul>
          <li>
            <a href="#" data-nav-to="header">Home</a>
          </li>
          <li>
            <a href="#" data-nav-to="project">Projects</a>
          </li>
          <li>
            <a href="#" data-nav-to="services">Skills</a>
          </li>
          <li>
            <a href="#" data-nav-to="testimonial">Clients</a>
          </li>
          <li>
            <a href="#" data-nav-to="counter">Facts</a>
          </li>
          <li>
            <a href="#" data-nav-to="started">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header id="l-header" class="l-cover" role="banner" style="background-image:url(assets/images/img_bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <div class="jumbotron">


              <p>
                Over 12 years of commercial software development experience in different
                roles: from FullStack developer to Tech Lead and Architect.
              </p>
              <ul>

                <li>

                  Works mostly on large enterprise level web applications:
                  building custom API architecture, custom and open source modules, external services
                  integration, improving performance etc.

                </li>
                <li>
                  Experienced with various application domains:
                  eCommerce, eLearning, SDK, CRM systems, VoIP, analytical marketing web tools and
                  dashboards.
                </li>
                <li>
                  Has experience with setting up and configuring *nix servers with
                  automated building and deploying tasks.
                </li>
                <li>
                  On spare time likes to play chess, create HTML5 games and contribute to open source.
                  Over 12 years consulting clients all over the world.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
