
<div *ngIf="!loadCompleted" class="l-loader"></div>


<div id="page" *ngIf="loadCompleted" [@fadeInOut]="loadCompleted">
  <app-ng-header-compoonent></app-ng-header-compoonent>
  <app-ng-project-compoonent></app-ng-project-compoonent>
  <app-ng-services-compoonent></app-ng-services-compoonent>
  <app-ng-testimonial-component></app-ng-testimonial-component>
  <app-ng-counter></app-ng-counter>
  <app-ngfooter></app-ngfooter>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
