
<div *ngIf="!loadCompleted" class="l-loader"></div>


<div id="page" *ngIf="loadCompleted" [@fadeInOut]="loadCompleted">
  <app-ng-header-compoonent></app-ng-header-compoonent>
  <app-ng-project-compoonent></app-ng-project-compoonent>
  <app-ng-services-compoonent></app-ng-services-compoonent>
  <app-ng-testimonial-component></app-ng-testimonial-component>
  <app-ng-counter></app-ng-counter>

  <div id="l-started">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center l-heading">
          <span>Let me know about your need</span>
          <h2>Contact me</h2>
          <p>Feel free to send me an email if you have exceptional proposition</p>
          <p><button type="submit" class="btn btn-primary">Get In Touch</button></p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
