
#l-testimonial {
  background: #F0F5F9;
  .testimonial {
    background: #fff;
    padding: 30px;
    position: relative;
    margin-bottom: 4em;
    bottom: 0;
    blockquote {
      border-left: none;
      padding: 0;
      margin: 0;
  }
    p {
      color: #666666;
      font-size: 18px;
      font-style: italic;
      line-height: 1.5;
      &.author {
        color: #b3b3b3;
        img {
          width: 60px;
          margin-right: 20px;
          border-radius: 50%;
      }
        cite {
          font-style: normal;
          font-size: 13px;
          font-family: "Open Sans", Arial, sans-serif;
      }
    }
      &:last-child {
        margin-bottom: 0;
    }
  }
    &:after {
      position: absolute;
      left: 11%;
      bottom: -30px;
      display: block;
      width: 0;
      content: "";
      border-width: 30px 30px 0 0;
      border-style: solid;
      border-color: #fff transparent;
  }
    &.l-selected {
      background: #F73859;
      bottom: 10px;
      box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
      p {
        color: #fff;
        &.author cite {
          color: rgba(255, 255, 255, 0.7);
      }
    }
      &:after {
        border-color: #F73859 transparent;
    }
  }
}
}

@media screen and (max-width: 768px) {
#l-testimonial .testimonial.l-selected {
  bottom: 0;
}
}
