<div id="l-project">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left l-heading  animate-box">
        <span>employment history</span>
        <h2>Recent Projects</h2>
        <p>Optimized platform performance and fixed concurrency issues in data flow. Integrated multiple systems based on different platforms, big data migrated and implemented system for data analysis.</p>
      </div>
    </div>

    <div class="row">

      <div *ngFor="let item of projectsItems;" class="col-md-4 col-sm-6 l-project animate-box" data-animate-effect="fadeIn">
        <a href="https://www.linkedin.com/in/alexeyromanov777/"><img src="{{item.imageUrl}}" alt="project" class="img-responsive">
          <div class="l-copy">
            <h3>{{item.heading}}</h3>
            <p>{{item.category}}</p>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>
