<div id="l-counter">
  <div class="container">

    <div class="row animate-box" data-animate-effect="fadeInUp">
      <div class="col-md-8 col-md-offset-2 text-left l-heading">
        <span>Enjoy it</span>
        <h2>Fun Facts</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
      </div>
    </div>

    <div class="row">

      <div *ngFor="let item of counterItems;" class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
						<span class="icon">
							<i class="{{item.icon}}"></i>
						</span>
          <span class="counter">
            <span class="js-counter"
                  [attr.data-from]="item.range[0]"
                  [attr.data-to]="item.range[1]"
                  data-speed="1500"
                  data-refresh-interval="50">1</span>+</span>
          <span class="counter-label">{{item.text}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
