body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

a {
  color: #F73859;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  &:hover, &:active, &:focus {
    color: #F73859;
    outline: none;
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #F73859;
}

::-moz-selection {
  color: #fff;
  background: #F73859;
}

::selection {
  color: #fff;
  background: #F73859;
}

@media screen and (max-width: 768px) {
  .l-nav .menu-1 {
    display: none;
  }
}

#l-offcanvas {
  position: fixed;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  transform: translateX(270px);
  transition: 0.5s;
  a {
    color: rgba(255, 255, 255, 0.5);
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      > ul {
        padding-left: 20px;
        display: none;
      }
      &.offcanvas-has-dropdown > a {
        display: block;
        position: relative;
      }
      &.offcanvas-has-dropdown > a:after {
        position: absolute;
        right: 0px;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e921";
        font-size: 20px;
        color: rgba(255, 255, 255, 0.2);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      &.offcanvas-has-dropdown.active a:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #l-offcanvas {
    display: block;
  }
}
.offcanvas #l-offcanvas {
  transform: translateX(0px);
}

.l-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  &.active i::before, &.active i::after {
    background: #444;
  }
  &:hover, &:focus, &:active {
    outline: none;
    border-bottom: none !important;
  }
  i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out;
    &::before, &::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #252525;
      position: absolute;
      left: 0;
      transition: all .2s ease-out;
    }
    &::before {
      top: -7px;
    }
    &::after {
      bottom: -7px;
    }
  }
  &.l-nav-white > i {
    color: #fff;
    background: #fff;
    &::before, &::after {
      background: #fff;
    }
  }
  &:hover i::before {
    top: -10px;
  }
  &:hover i::after {
    bottom: -10px;
  }
  &.active i {
    background: transparent;
    &::before {
      top: 0;
      transform: rotateZ(45deg);
    }
    &::after {
      bottom: 0;
      transform: rotateZ(-45deg);
    }
  }
}

.l-nav-toggle {
  position: fixed;
  right: 0;
  top: 18px;
  padding: 6px 0 0 0;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
.scrolled .l-nav-toggle {
  top: 5px;
}
@media screen and (max-width: 768px) {
  .l-nav-toggle {
    display: block;
  }
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  font-size: 1.3em;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  a {
    width: 50px;
    height: 50px;
    display: table;
    color: rgba(0,0,0,.5)  !important;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.08);
    right: -10px;
    position: relative;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.03);
    background: #f7f7f7 !important;
    transition: all .3s ease-in-out;
    i {
      height: 50px;
      display: table-cell;
      vertical-align: middle;
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
      right: 0;
      position: relative;
    }
  }
}
